/* Custom Scrollbar Styling */
.customScrollbar::-webkit-scrollbar {
  width: 6px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
